In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

1.  SETTING UP THE INPUT FILE

In [2]:
# Loading the data file
pd.options.display.max_rows=2000
raw_df=pd.read_csv('Sport car price.csv' )

In [3]:
# Droping the duplicated row as this analysis is for the prices of different sports cars & identifying trends in the market.
print("DataFrame size before droping duplicates:",raw_df.shape)
df=raw_df.drop_duplicates().copy()
df.reset_index(drop=True)
print("DataFrame size after droping duplicates:",df.shape)
print('Duplicates percentage : {:.2f}%'.format((raw_df.shape[0]-df.shape[0])/raw_df.shape[0]))
df.head()

DataFrame size before droping duplicates: (1007, 8)
DataFrame size after droping duplicates: (719, 8)
Duplicates percentage : 0.29%

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,"101,200"
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390"
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750"
3,Audi,R8,2022,5.2,562,406,3.2,"142,700"
4,McLaren,720S,2021,4,710,568,2.7,"298,000"

2. HANDLING THE NULL VALUES

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 719 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 719 non-null    object
 1   Car Model                719 non-null    object
 2   Year                     719 non-null    int64
 3   Engine Size (L)          709 non-null    object
 4   Horsepower               719 non-null    object
 5   Torque (lb-ft)           716 non-null    object
 6   0-60 MPH Time (seconds)  719 non-null    object
 7   Price (in USD)           719 non-null    object
dtypes: int64(1), object(7)
memory usage: 50.6+ KB

In [5]:
df[df['Torque (lb-ft)'].isna()]

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
642,Tesla,Model S Plaid,2021,Electric,1020,NaN,1.9,"139,990"
878,Maserati,GranTurismo,2021,Electric,550,NaN,2.8,"200,000"
916,Tesla,Roadster,2022,NaN,"10,000+",NaN,1.9,"200,000"

In [6]:
#df[(df['Torque (lb-ft)'].notna())&(df['Car Model']=='Model S Plaid')]
#df[(df['Torque (lb-ft)'].notna())&(df['Car Model']=='GranTurismo')]
#df[(df['Torque (lb-ft)'].notna())&(df['Car Model']=='Roadster')]

In [7]:
# IN Torque (lb-ft) COLUMN WE CAN SEE 'N/A' AND '-' SYMBOL WHICH IMPLIES NULL VALUE

# N/A IS PRESENT IN 3 ROWS, REPLACING THE N/A WITH MEAN VALUE OF THE RESPECTIVE CAR-MODEL

#replacing the null values & (-) with most repeated value of the respective Car Model's

df.loc[642,'Torque (lb-ft)']='1050'
df.loc[878,'Torque (lb-ft)']='384'
df.loc[916,'Torque (lb-ft)']='737'
#(-) value row index is 335
df.loc[335,'Torque (lb-ft)']='737'

In [8]:
df[df['Engine Size (L)'].isna()]

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
168,Rimac,C_Two,2022,NaN,1914,1696,1.9,"2,400,000"
171,Tesla,Model S Plaid,2021,NaN,1020,1050,1.98,"131,190"
222,Porsche,Taycan Turbo S,2021,NaN,750,774,2.6,"185,000"
247,Tesla,Model S Plaid,2022,NaN,1020,1050,1.9,"131,190"
387,Rimac,C_Two,2022,NaN,1888,1696,1.8,"2,400,000"
389,Tesla,Roadster,2022,NaN,10000+,0,1.9,"200,000"
686,Rimac,C_Two,2022,NaN,1914,1696,1.85,"2,400,000"
697,Lotus,Evija,2022,NaN,1972,1254,2.5,"2,700,000"
752,Porsche,Taycan,2022,NaN,469,479,3.8,"79,900"
916,Tesla,Roadster,2022,NaN,"10,000+",737,1.9,"200,000"

In [9]:
# FROM THE DATA SET WE CAN SEE CAR MODEL- Rimac,Tesla ARE ONLY MAKING ELECTRIC CARS, REPLACING NaN TO Electric

df.loc[df[(df['Car Make']=='Rimac' )&( df['Engine Size (L)'].isna())].index,'Engine Size (L)']='Electric'
df.loc[df[(df['Car Make']=='Tesla' )&( df['Engine Size (L)'].isna())].index,'Engine Size (L)']='Electric'

# Replacing Engine Size(L) -,0 in Row index 335, for tesla as electric
df.loc[df[df['Engine Size (L)']=='-' ].index,'Engine Size (L)']='Electric'
df.loc[df[df['Engine Size (L)']=='0' ].index,'Engine Size (L)']='Electric'

In [10]:
df[df['Engine Size (L)'].isna()]

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
222,Porsche,Taycan Turbo S,2021,NaN,750,774,2.6,"185,000"
697,Lotus,Evija,2022,NaN,1972,1254,2.5,"2,700,000"
752,Porsche,Taycan,2022,NaN,469,479,3.8,"79,900"

In [11]:
# NOW THE REMAININGS ARE Porsche & Lotus, THEY ARE MAKING BOTH ELECTRIC AND ENGINE CARS

In [12]:
#df[df['Car Model']=='Lotus']

In [13]:
# FOR Lotus CAR MODEL, THE HIGHER HORSEPOWER ARE ELECTRIC, SO REPLACING THE NaN WITH ELECTIC

df.loc[df[(df['Car Make']=='Lotus' )&( df['Engine Size (L)'].isna())].index,'Engine Size (L)']='Electric'

In [14]:
#df[df['Car Model']=='Porsche']

In [15]:
df[df['Engine Size (L)'].isna()]

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
222,Porsche,Taycan Turbo S,2021,NaN,750,774,2.6,"185,000"
752,Porsche,Taycan,2022,NaN,469,479,3.8,"79,900"

In [16]:
# FOR ROW INDEX 222, WE CAN SEE SIMILAR ROW AT INDEX 543,HENCE DROPING 222

df.drop(222,inplace=True)
df.loc[[543]]

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
543,Porsche,Taycan Turbo S,2022,Electric,750,774,2.6,"185,000"

In [17]:
# FOR ROW INDEX 752, WE CAN SEE MOST MATCHING VALUE ROW AT 843, HENCE ASSINING THE NaN TO 2.0 (Electric)

df.loc[df[(df['Car Make']=='Porsche' )&( df['Engine Size (L)'].isna())].index,'Engine Size (L)']='2.0 (Electric)'
df.loc[[843]]

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
843,Porsche,Taycan,2022,2.0 (Electric),469,263,3.8,"81,250"

In [18]:
# ALL NULL VALUES ARE HANDLED

df.to_csv('filledData.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 718 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 718 non-null    object
 1   Car Model                718 non-null    object
 2   Year                     718 non-null    int64
 3   Engine Size (L)          718 non-null    object
 4   Horsepower               718 non-null    object
 5   Torque (lb-ft)           718 non-null    object
 6   0-60 MPH Time (seconds)  718 non-null    object
 7   Price (in USD)           718 non-null    object
dtypes: int64(1), object(7)
memory usage: 66.6+ KB

3.  HANDLING WRONG DATA

In [19]:
# Removing comma to change strings to numeric dtypes for future use

df=df.replace(',', '',regex=True)

# FOR ROASTER CAR MODEL WE CAN SEE + SYMBOL APPENDED IN HORSEPOWER & TORQUE(removing the +, 1000+ means more than 1000, cutting off to 1000)

df['Horsepower']=df['Horsepower'].replace('\+', '',regex=True)
df['Torque (lb-ft)']=df['Torque (lb-ft)'].replace('\+', '',regex=True)

# IN '0-60 MPH Time (seconds)' WE CAN SEE (< 1.9) VALUE, CHANGING IT TO 1.85(MINIMIUM VALUE AS MENTIONED IN DESC)

df[df['0-60 MPH Time (seconds)']=='< 1.9']['0-60 MPH Time (seconds)']
df.loc[364,'0-60 MPH Time (seconds)']=1.85

In [20]:
#CHANGE THE DATATYPE OF COLUMNS

df['Car Make']=df['Car Make'].astype('string')
df['Car Model']=df['Car Model'].astype('string')
df['Horsepower']=df['Horsepower'].astype('int32')
df['Torque (lb-ft)']=pd.to_numeric(df['Torque (lb-ft)'])
df['0-60 MPH Time (seconds)']=pd.to_numeric(df['0-60 MPH Time (seconds)'])
df['Price (in USD)']=pd.to_numeric(df['Price (in USD)'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 718 entries, 0 to 1006
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 718 non-null    string
 1   Car Model                718 non-null    string
 2   Year                     718 non-null    int64
 3   Engine Size (L)          718 non-null    object
 4   Horsepower               718 non-null    int32
 5   Torque (lb-ft)           718 non-null    int64
 6   0-60 MPH Time (seconds)  718 non-null    float64
 7   Price (in USD)           718 non-null    int64
dtypes: float64(1), int32(1), int64(3), object(1), string(2)
memory usage: 63.8+ KB

In [21]:
df.describe()

,Year,Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
count,718.000000,718.00000,718.000000,718.000000,7.180000e+02
mean,2021.160167,666.50000,571.445682,3.554109,3.903405e+05
std,2.331215,682.22288,506.340990,0.806198,7.756642e+05
min,1965.000000,181.00000,0.000000,1.800000,2.500000e+04
25%,2021.000000,454.00000,398.500000,3.000000,7.010000e+04
50%,2021.000000,591.00000,505.000000,3.500000,1.336000e+05
75%,2022.000000,710.00000,627.000000,4.000000,2.250000e+05
max,2023.000000,10000.00000,10000.000000,6.500000,5.200000e+06

In [22]:
# FOR ROASTER CAR MODEL, THE OUTLYING TORQUE VALUES ARE 0, 10,000 AND 7376 EACH PER ROW, BUT ALL OTHER ROWS HAVING 737, 
# REPLACING THOSE 3 FILEDS, AS WE ARE NOT SEEING ANY DIFFERENCE IN OTHER COLUMN, SO IT MUST BE A WRONG DATA
df.loc[df[df['Torque (lb-ft)']==7376]['Torque (lb-ft)'].index,'Torque (lb-ft)']=737
df.loc[df[df['Torque (lb-ft)']==10000]['Torque (lb-ft)'].index,'Torque (lb-ft)']=737
df.loc[df[df['Torque (lb-ft)']==0]['Torque (lb-ft)'].index,'Torque (lb-ft)']=737

df.describe()

,Year,Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
count,718.000000,718.00000,718.000000,718.000000,7.180000e+02
mean,2021.160167,666.50000,550.324513,3.554109,3.903405e+05
std,2.331215,682.22288,258.903102,0.806198,7.756642e+05
min,1965.000000,181.00000,151.000000,1.800000,2.500000e+04
25%,2021.000000,454.00000,401.500000,3.000000,7.010000e+04
50%,2021.000000,591.00000,506.000000,3.500000,1.336000e+05
75%,2022.000000,710.00000,627.000000,4.000000,2.250000e+05
max,2023.000000,10000.00000,1732.000000,6.500000,5.200000e+06

In [23]:
#df[df['Car Model']=='Tesla'][ df['Year']==2022]
df.loc[df[df['Horsepower']==10000]['Horsepower'].index,'Horsepower']=1000

In [24]:
#df[df['Car Model']=='Tesla'][ df['Year']==2022]

In [25]:
df.loc[df[df['Engine Size (L)']=='Electric Motor' ].index,'Engine Size (L)']='Electric'

In [26]:
df.describe()

,Year,Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
count,718.000000,718.000000,718.000000,718.000000,7.180000e+02
mean,2021.160167,628.895543,550.324513,3.554109,3.903405e+05
std,2.331215,316.200414,258.903102,0.806198,7.756642e+05
min,1965.000000,181.000000,151.000000,1.800000,2.500000e+04
25%,2021.000000,454.000000,401.500000,3.000000,7.010000e+04
50%,2021.000000,591.000000,506.000000,3.500000,1.336000e+05
75%,2022.000000,710.000000,627.000000,4.000000,2.250000e+05
max,2023.000000,2000.000000,1732.000000,6.500000,5.200000e+06

In [27]:
# THE DATA CLEANING COMPLETED
df.to_csv('CleanedDataSet.csv',index=False)

4.  ANALYSING

In [28]:
df.columns

Index(['Car Make', 'Car Model', 'Year', 'Engine Size (L)', 'Horsepower',
       'Torque (lb-ft)', '0-60 MPH Time (seconds)', 'Price (in USD)'],
      dtype='object')